ul {
	list-style: none;
}

a, a:hover, a:visited {
	color: #000;
	text-decoration: none;
}


nav > ul {
	display: block;
}

	ul {
		display: none;
	}
	
	ul li:hover > a {
	text-decoration: underline;
	}

	ul li:hover > ul   {
		display: block;	
	}

		ul li:hover > ul a {
			color: gray;
		}

	

	

